body, html {
	padding: 0;
	margin: 0;
}

a a:hover {
	text-decoration: none;
}

.container-fluid {
	padding: 0;
}

.header {
	background-color: #349BDB;
	height: 70px;
	line-height: 70px;
}

.logo {
	color: #ffffff;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
	float: left
}

.menu {
	float: right;
}

.menu a {
	color:#ffffff;
	margin-right: 20px;
}

.menu a:hover {
	color: #2C3E50;
}

.banner {
	width: 100%;
	max-width: 100%;
}

.ban {
	width: 100%;
	max-width: 100%;
}

.ban img {
	width: 100%;
	max-width: 100%;
}